old stuff/training/CSVs
old stuff/training/training-data
old stuff/eyetracking/test-data
old stuff/mock_eyetracking_data.json
old stuff/attention_scores.csv
old stuff/weighted_averages.csv

Data/

R-microsaccades/


*.json
*.csv